<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up For Coaches</title>
  <link rel="stylesheet" href="../styleSheets/signup.css" />
  <script>
    function empty() {
      var x;
      x = document.getElementById("roll-input").value;
      if (x == "") {
        //alert("Please insert empty value");
        return false;
      }
    }
  </script>
</head>

<body>
  <div class="mainform">
    <div class="signupbox">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h1>Coaches Sign Up</h1>
          <div>
            <a id="signinlink" href="/login">Sign In</a>
          </div>
        </div>
        <div class="panel-body">
          <form class="form-horizontal" role="form" method="post" action="/signupCoach" onClick="return empty()">
            <% if (message.length> 0 && !message.includes("Error")) { %>
              <div class="alert-success">
                <%= message %>
              </div>
              <% } %>
                <!--Error Displayed-->
                <% if(message.includes("Error")){ %>
                  <div class="alert-danger">
                    <p>
                      <%= message%>
                    </p>
                    <span></span>
                  </div>
                  <% } %>
                    <div class="form-group">
                      <label for="first_name">First Name</label>
                      <div>
                        <input type="text" name="first_name" placeholder="First Name" id="roll-input" />
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="last_name">Last Name</label>
                      <div>
                        <input type="text" name="last_name" placeholder="Last Name" />
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="mob_no">Mobile Number</label>
                      <div>
                        <input type="number" name="mob_no" placeholder="Mobile Number" />
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="sportClub">Current Sport Club</label>
                      <div>
                        <input type="text" name="sportClub" placeholder="Current Sport Club" />
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="email">Email</label>
                      <div>
                        <input type="email" name="email" placeholder="Email Address" />
                      </div>
                    </div>





                    <div class="form-group">
                      <label for="user_name">User Name</label>
                      <div>
                        <input type="text" name="user_name" placeholder="User Name" />
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="password">Password</label>
                      <div>
                        <input type="password" name="password" placeholder="Password" />
                      </div>
                    </div>
                    <!--<script src="https://www.google.com/recaptcha/api.js" async defer></script>-->
                    <!-- Button -->
                    <div class="buttonPosition">
                      <div class="g-recaptcha" data-sitekey="6Ld0L6wkAAAAACEo8fT7VQ2XYoiEDbbxeHwdz4Bx"></div>
                      <br />
                      <button type="submit" class="button-66">
                        <i class="icon-hand-right"></i> &nbsp Sign Up
                      </button>
                    </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>