/*
=============== 
Variables
===============
*/
:root {
    /* primary/main colors*/
    --clr-primary-1: #247fff;
    --clr-primary-2: #ffa600;
    /* darker shades of primary colours*/
    --clr-secondary-1: #006fb9;
    --clr-secondary-4: #cc8400;
    /*grey, white and black */
    --clr-grey-1: #f5f5f5;
    --clr-grey-2: #424242;
    --clr-white: #fff;
    --clr-black: #222;
    /*other*/
    --line: linear-gradient(to bottom, transparent 2px, #eaf0f6 1px, #eaf0f6 2px, transparent 3px);
    --light-shadow: 0px 4px #eaf0f6;
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    --max-width: 100%;


    /*Media Query stuff*/
    /*navbar height (using the logo's margin-bottom)*/
    --logo-height: 20px;
    --navbar-links-size: 1.5rem;
    --line-under-links-size: -10px;

    /*slide show*/
    --buttons-position: -400px;
    --button-height: 280px;
    --font-inside-button: 1.2rem;

    /*video part*/
    --video-part-header: 1.8rem;
    --padding-on-sides: 20px;

    /*case study*/
    --case-study-height: 40rem;

    /*footer size*/
    --footer-max-size: 200px;
}


/*
=============== 
Initial styling
===============
*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Helvetica, Tahoma, Arial, sans-serif;
}

body {
    position: relative;
    text-align: center;
    background-color: var(--clr-white);
}

h1 {
    font-size: 1.5rem;
    color: var(--clr-secondary-1);
    margin-top: 50px;
}

h2 {
    color: var(--clr-primary-1);
    font-size: 1.8rem;
    padding: 20px;
}

h3 {
    color: var(--clr-black);
    font-size: 1.3rem;
}

p {
    font-size: 1.1rem;
}



/*
=============== 
NavBar
===============
*/
/*Navigation bar Styling*/
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--clr-white);
    box-shadow: var(--light-shadow);
    transition: transform 1s;
    max-height: 200px;
}


/*logo styling for the image*/
.logo img {
    margin-bottom: var(--logo-height);
    width: 25%;
    opacity: 0.9;
    transition: transform 5s;
    height: auto;
}

/*when the user hovers over the image its background colour changes*/
.logo img:hover {
    animation: color 1s ease-in-out;
    background-color: var(--clr-primary-2);
}

/*animation for image logo*/
@keyframes color {
    0% {
        background-color: rgb(255, 255, 255);
    }

    25% {
        background-color: rgb(255, 166, 0);
    }

    50% {
        background-color: rgb(255, 166, 0);
    }

    75% {
        background-color: rgb(255, 166, 0);
    }
}

/*Nav bar conent styling*/

.nav ul {
    display: flex;
    justify-content: space-evenly;
    width: 65%;
}

.nav ul li {
    list-style: none;
}

/*list styling*/

.nav ul li a {
    height: 100%;
    color: var(--clr-primary-1);
    text-decoration: none;
    font-size: var(--navbar-links-size);
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
}


.nav ul li a:after {
    content: "";
    position: absolute;
    background-color: var(--clr-primary-2);
    height: 2px;
    width: 0%;
    left: 0%;
    bottom: var(--line-under-links-size);
    transition: 0.3s;
    padding: 0;
}

/*draws an underline under the navbar*/
.nav ul li a:hover:after {
    width: 100%;
}

/*just a line added to make the page look better*/
.line {
    width: 100%;
    height: 5px;
    background: var(--line)
}

/*Additional code to the nav-bar*/
.hamburger-menu {
    position: absolute;
    top: 4.5rem;
    right: 1.5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 50px;
    height: 25px;
}

.hamburger-menu .bar {
    height: 5px;
    width: 100%;
    background-color: var(--clr-primary-1);
    border-radius: 10px;
}

/*
=============== 
Header and Footer
===============
*/
/*headeer and footer styling*/
.header {
    height: 2rem;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: var(--footer-max-size);
    background-color: var(--clr-grey-1);
    text-align: center;
}

.footer h1 {
    text-transform: uppercase;
    color: var(--clr-grey-2);
}

.footer img {
    margin: 20px;
    max-height: 100px;
    max-width: 100px;
}




/*media query for Laptop Screen Sizes*/
@media (min-width:768px) and (max-width: 992px) {
    h1 {
        font-size: 1rem;
    }

    h2 {
        color: var(--clr-primary-1);
        font-size: 0.9rem;
    }

    h3 {
        color: var(--clr-black);
        font-size: 0.8rem;
    }

    p {
        font-size: 0.6rem;
    }

    /*navbar*/
    .nav ul li a {
        font-size: 1.2rem;
    }

    .logo img {
        margin-bottom: var(--logo-height);
        width: 20%;
        opacity: 0.9;
        transition: transform 5s;
    }
}

/*media query for Table Screen Sizes*/
@media (min-width:601px) and (max-width: 767px) {

    /*NavBar*/
    body {
        text-align: left;
    }

    .hamburger-menu {
        display: flex;
    }

    .nav ul {
        flex-direction: column;
        width: 100%;
        display: none;
    }

    .nav {
        flex-direction: column;
    }

    /*logo stlying*/
    .logo {
        position: relative;
        width: 100%;
        justify-content: left;
    }

    .logo a {
        padding: 0rem;
        min-width: 0;
    }

    .logo img {
        margin: 20px;
        min-width: 25px;
        width: 50px
    }

    /*font size*/
    .nav ul li a {
        font-size: 14px;
        padding: 10px;
    }

    /*styling for the links*/
    .nav ul li {
        width: 100%;
        text-align: center;
        padding: 2px;
        margin: 2px;
    }

    .nav ul li:hover {
        background-color: var(--clr-grey-1);
    }

    /*removes orange underline*/
    .nav ul li a:hover:after {
        width: 0;
    }

    /*footer*/
    .footer {
        margin-top: 50px;
        min-height: 65px;
    }

    .footer img {
        max-width: 45px;
    }
}



/*Adding Media Querie For Phone Screens*/
@media (max-width: 600px) {

    /*NavBar*/
    body {
        text-align: left;
    }

    .hamburger-menu {
        display: flex;
    }

    .nav ul {
        flex-direction: column;
        width: 100%;
        display: none;
    }

    .nav {
        flex-direction: column;
    }

    /*logo stlying*/
    .logo {
        position: relative;
        width: 100%;
        justify-content: left;
    }

    .logo a {
        padding: 0rem;
        min-width: 0;
    }

    .logo img {
        margin: 20px;
        min-width: 25px;
        width: 50px
    }

    /*font size*/
    .nav ul li a {
        font-size: 14px;
        padding: 10px;
    }

    /*styling for the links*/
    .nav ul li {
        width: 100%;
        text-align: center;
        padding: 2px;
        margin: 2px;
    }

    .nav ul li:hover {
        background-color: var(--clr-grey-1);
    }

    /*removes orange underline*/
    .nav ul li a:hover:after {
        width: 0;
    }

    /*footer*/
    .footer {
        margin-top: 50px;
        min-height: 50px;
    }

    .footer img {
        max-width: 35px;
    }

}



/*
=================
Dashboard Styling
=================
*/

.wrapper {
    width: 95%;
    margin: 0 auto;
}
#search-container {
    margin: 1em 0;
}
#search-container input {
    background-color: transparent;
    width: 60%;
    border-bottom: 2px solid #110f29;
    padding: 1em 0.3em;
}
#search-container input:focus {
    border-bottom-color: #6759ff;
}
#search-container button {
    cursor: pointer;
    padding: 1em 5em;
    margin-left: 1em;
    background-color: #6759ff;
    color: #ffffff;
    border-radius: 15px;
    margin-top: 0.5em;
}
.button-value {
    border: 2px solid #6759ff;
    padding: 2em 7em;
    border-radius: 3em;
    background-color: transparent;
    color: #6759ff;
    cursor: pointer;
    margin-top: 20px;
}
.active {
    background-color: #6759ff;
    color: #ffffff;
}

#universities{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 1.5em;
}

.card {
    background-color: #ffffff;
    max-width: 18em;
    margin-top: 1em;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 1em 2em 2.5em rgba(1, 2, 68, 0.08);
}
.image-container {
    text-align: center;
    font-size: 14px;
}
img {
    max-width: 100%;
    object-fit: contain;
    height: 15em;
}

.container {
    padding-top: 1em;
    color: #110f29;
}
.container h5 {
    font-weight: 600;
}
.hide {
    position: absolute;
    left: -1000px;
    top: -100px;
    display: none;
    width: 0;
    height: 0;
}

.show{
    display: block;
}

  /* @media screen and (max-width: 720px) {
    img {
      max-width: 100%;
      object-fit: contain;
      height: 10em;
    }
    .card {
      max-width: 10em;
      margin-top: 1em;
    }

  } */
