<html>

<head>
  <title>About</title>
  <link rel="stylesheet" type="text/css" href="../styleSheets/about.css">
</head>

<body>
  <div class="header"></div>
  <div class="line"></div>
  <!-- navigation Bar-->
  <div class="nav">
    <div class="logo">
      <a href="index.ejs"><img src="../images/Logo.png" alt="SLIGH | My Future"></a>
    </div>
    <a href="#" class="hamburger-menu">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </a>
    <ul>
      <li><a href="./index.ejs">Home</a></li>
      <li><a href="./dashboard.ejs">Dashboard</a></li>
      <li><a href="./sap.ejs">SAP</a></li>
      <li><a href="./p&p.ejs">P&P</a></li>
      <li><a href="./about.ejs">About</a></li>
      <li><a href="./athleteProfile.ejs">Profile</a></li><!--Not created-->
    </ul>
  </div>
  <!--Page Content-->
  <h1>About</h1>

</body>
<!--Footer-->
<div class="footer">
  <h1>Connect With Us:</h1>
  <a href=""><img src="../images/facebook.png"></a>
  <a href=""><img src="../images/twitter.png"></a>
  <a href=""><img src="../images/instagram.png"></a>
</div>
<!--path to JavaScript file-->
<script type="text/javascript" src="../JavaScript/about.js"></script>

</html>